<xgb-list *ngIf="!hasError && isLoaded">
  <xgb-list-item *ngFor="let jidAffiliation of jidAffiliations">
    <div class="jid-affiliation">
      <div class="jid">{{jidAffiliation.jid}}</div>
      <div class="actions">
        <select xgbFormInput>
          <option *ngFor="let affiliation of affiliations;" [value]="affiliation.value">{{affiliation.label}}</option>
        </select>
        <button xgbActionButton (click)="removeAffiliation(jidAffiliation)">remove</button>
      </div>
    </div>
  </xgb-list-item>
  <xgb-list-item>
    <form class="new-jid" (submit)="addAffiliation(form)" #form="ngForm">
      <div class="jid">
        <input type="text"
               name="jid"
               xgbFormInput
               placeholder="jid"
               required
               ngModel
               [xgbNoDuplicatesAllowed]="jidAffiliations"
               xgbDuplicateKey="jid"
               #jid="ngModel"/>
        <p *ngIf="!jid.valid && jid.errors['required']" class="form-input-hint">Please provide a JID</p>
        <p *ngIf="!jid.valid && jid.errors['duplicate']" class="form-input-hint">Duplicates are not allowed</p>
      </div>
      <div class="actions">
        <select xgbFormInput
                name="affiliation"
                required
                ngModel>
          <option *ngFor="let affiliation of affiliations;" [value]="affiliation.value">{{affiliation.label}}</option>
        </select>
        <button type="submit"
                [disabled]="!form.valid"
                xgbActionButton>add</button>
      </div>
    </form>
  </xgb-list-item>

  <div class="empty" *ngIf="jidAffiliations.length == 0">
    <p class="empty-title h5">No Affiliations found</p>
  </div>
</xgb-list>
<xgb-spinner *ngIf="!isLoaded"></xgb-spinner>

<div *ngIf="hasError" class="empty">
  <p class="empty-title h5">Oops, an error occurred!</p>
  <p class="empty-subtitle">{{errorMessage}}</p>
</div>
