<header class="container grid-lg navbar">
  <section class="navbar-section">
    <a [routerLink]="['/']" class="navbar-brand mr-2">xmpp.hsr.ch</a>
  </section>
  <section class="navbar-section">
    <div class="dropdown">
      <span href="#" class="dropdown-toggle" tabindex="0">
        Garry
        <i class="icon icon-caret"></i>
      </span>
      <ul class="menu">
        <a [routerLink]="['/signout']">Sign-Out</a>
      </ul>
    </div>
  </section>
</header>

<!--TODO: move into overview component-->
<app-tab-view>
  <app-tab-item [routerLink]="['/start']">First</app-tab-item>
  <app-tab-item [routerLink]="['/']">Second</app-tab-item>
  <app-tab-item [isActive]="true">Third</app-tab-item>
  <app-tab-item>Next</app-tab-item>
  <app-tab-item>Another...</app-tab-item>
</app-tab-view>
