<ng-container *ngIf="!topicList.hasError && topicList.isLoaded">
  <xgb-list>
    <xgb-list-item *ngFor="let node of topicList.topics" (click)="topicClick(node)">{{node.title}}</xgb-list-item>
    <div class="empty" *ngIf="topicList.topics.length == 0">
      <p class="empty-title h5">No Topics found</p>
    </div>
  </xgb-list>
  <div *ngIf="topicList.page.hasMore" style="text-align: center;">
    <button xgbActionButton (click)="topicList.loadMore()">load more</button>
  </div>
</ng-container>
<xgb-spinner *ngIf="!topicList.hasError && !topicList.isLoaded"></xgb-spinner>

<div *ngIf="topicList.hasError" xgbToast toast-error>{{topicList.errorMessage}}</div>
