header {
  /*height: 2.5rem;*/
  padding: 0.5rem;
  background-color: #5755d9;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-brand{
  color: white;
}

.logo{
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
}
