<header class="navbar">
  <section class="navbar-section grid-sm">
    <img src="assets/logo.svg" alt="xmpp grid broker logo" class="logo">
    <a [routerLink]="['/']" class="navbar-brand mr-2">XMPP-Grid Broker</a>
  </section>
  <section class="navbar-section">
    <div class="dropdown">
      <span href="#" class="dropdown-toggle" tabindex="0">
        Max Mustermann
        <i class="icon icon-caret"></i>
      </span>
      <ul class="menu">
        <a [routerLink]="['/signout']">Sign-Out</a>
      </ul>
    </div>
  </section>

</header>
