<h2>Create New {{isNewCollection ? "Collection": "Topic"}}</h2>

<xgb-spinner *ngIf="loading"></xgb-spinner>

<form *ngIf="!loading"
      xgbForm
      [formGroup]="formGroup"
      (ngSubmit)="submit()">

  <xgb-form-field fieldId="title"
                  [fieldLabel]="(isNewCollection ? 'Collection': 'Topic') + ' title *'"
                  [fieldHelp]="'A short name for the '+ (isNewCollection ? 'Collection': 'Topic')">
    <input type="text"
           xgbFormInput
           formControlName="pubsub#title"
           id="title"
           [placeholder]="'Enter ' + (isNewCollection ? 'Collection': 'Topic') + ' title'"
           [hasError]="!formGroup.get('pubsub#title').untouched && !formGroup.get('pubsub#title').valid"
    >
  </xgb-form-field>

  <xgb-collapsible
    title="Advanced">
    <xgb-topic-config
      [xmppDataForm]="advancedConfigForm"
      [formGroup]="formGroup">
    </xgb-topic-config>
  </xgb-collapsible>

  <button type="submit"
          [disabled]="!formGroup.valid"
          xgbActionButton
          primary>Create new Topic
  </button>
</form>
