<h2>Create New {{isNewCollection ? "Collection": "Topic"}}</h2>

<div *ngIf="error" class="toast toast-error">{{error}}</div>

<form xgbForm
      [formGroup]="formGroup"
      (ngSubmit)="submit()">

  <xgb-form-field fieldId="nodeID"
                  fieldLabel="NodeID *"
                  fieldHelp="The unique identifier for a node within the context of a pubsub service.">
    <input type="text"
           xgbFormInput
           formControlName="nodeID"
           id="nodeID"
           placeholder="Enter Topic / Collection identifier"
           [hasError]="!formGroup.get('nodeID').untouched && !formGroup.get('nodeID').valid">
  </xgb-form-field>

  <button type="submit"
          [disabled]="!formGroup.valid"
          xgbActionButton
          primary>Create new {{isNewCollection ? "Collection" : "Topic"}}
  </button>
</form>
