<h2>xmpp.hsr.ch</h2>
<!--TODO: move into overview component-->
<app-tab-view>
  <!--TODO: use app-tab-item or a directive instead of li and a...-->
  <li class="tab-item"><a [routerLink]="['/topics/root']" routerLinkActive="active">Root Collections </a></li>

  <li class="tab-item"><a [routerLink]="['/topics/all']" routerLinkActive="active">All Topics </a></li>

  <li class="tab-item"><a [routerLink]="['/topics/collections']" routerLinkActive="active">All Collections </a></li>

</app-tab-view>
<router-outlet></router-outlet>
