<h2>Create New Topic</h2>
<form xgbForm [formGroup]="configForm" (ngSubmit)="submit()">
  <ng-container *ngFor="let field of form.fields">

    <xgb-form-field *ngIf="field.type === fieldType.textSingle"
                    [fieldId]="field.variable"
                    [fieldLabel]="field.variable | FormFieldName"
                    [fieldHelp]="field.label">
      <input type="text"
             [formControlName]="field.variable"
             xgbFormInput
             [hasError]="!configForm.get(field.variable).valid"
             [id]="field.variable | FormFieldName"
             [placeholder]="'Enter ' + (field.variable | FormFieldName)">
    </xgb-form-field>


    <xgb-form-field *ngIf="field.type === fieldType.textMulti"
                    [fieldId]="field.variable | FormFieldName"
                    [fieldLabel]="field.variable | FormFieldName"
                    [fieldHelp]="field.label">
        <textarea type="text"
                  [formControlName]="field.variable"
                  xgbFormInput
                  [hasError]="!configForm.get(field.variable).valid"
                  [id]="field.variable | FormFieldName"
                  [placeholder]="'List ' + (field.variable | FormFieldName)"
                  rows="3"></textarea>
    </xgb-form-field>


    <xgb-form-field *ngIf="field.type === fieldType.boolean"
                    [fieldId]="field.variable | FormFieldName"
                    [fieldHelp]="field.label">
      <xgb-form-switch [fieldLabel]="field.variable | FormFieldName">
        <input type="checkbox" [formControlName]="field.variable">
      </xgb-form-switch>
    </xgb-form-field>

    <!-- list-single -->
    <xgb-form-field *ngIf="field.type === fieldType.listSingle || field.type === fieldType.listMulti"
                    [fieldId]="field.variable | FormFieldName"
                    [fieldLabel]="field.variable | FormFieldName"
                    [fieldHelp]="field.label">

      <ng-container *ngIf="field.type === fieldType.listSingle">
        <select [id]="field.variable | FormFieldName"
                [formControlName]="field.variable"
                xgbFormInput
                [hasError]="!configForm.get(field.variable).valid">
          <option [value]="null">-- none --</option>
          <option *ngFor="let option of field.options;" [value]="option.value">{{option.value}}</option>
        </select>
      </ng-container>

      <ng-container *ngIf="field.type === fieldType.listMulti">
        <select [id]="field.variable | FormFieldName"
                [formControlName]="field.variable"
                xgbFormInput
                [hasError]="!configForm.get(field.variable).valid"
                multiple
                [size]="field.type === fieldType.listMulti ? field.options.length : null">
          <option *ngFor="let option of field.options;" [value]="option.value">{{option.value}}</option>
        </select>
      </ng-container>

      <div xgbFieldHelp>
        <dl>
          <ng-container *ngFor="let option of field.options">
            <dt>{{option.value}}</dt>
            <dd>{{option.label}}</dd>
          </ng-container>
        </dl>
      </div>
    </xgb-form-field>


    <!--&lt;!&ndash;jid-multi &ndash;&gt;-->
    <!--<div class="form-group">-->
    <!--<div class="col-3 col-sm-12">-->
    <!--<label class="form-label" for="list-multi">jid-multi</label>-->
    <!--</div>-->

    <!--<div class="col-9 col-sm-12">-->
    <!--<div class="input-group">-->
    <!--<div class="container">-->
    <!--<div class="columns form-group">-->
    <!--<div class="column col-10">user@domain.xyz</div>-->
    <!--<div class="column col-2"><button class="btn">remove</button></div>-->
    <!--</div>-->
    <!--<div class="columns form-group">-->
    <!--<div class="column col-10"><input type="text" class="form-input" id="jid-multi" placeholder="jid-multi"></div>-->
    <!--<div class="column col-2"><button class="btn">add</button></div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<td>user@domain.xyz</td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn">remove</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<td></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td>&ndash;&gt;-->
    <!--&lt;!&ndash;<button class="btn">add</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--</div>-->


    <!--<div class="popover popover-left">-->
    <!--<i class="btn btn-link">?</i>-->
    <!--<div class="popover-container">-->
    <!--<div class="card">-->
    <!--<div class="card-body">-->
    <!--Whether to allow subscriptions-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
  </ng-container>
  <button type="submit" xgbActionButton>{{submitLabel}}</button>
</form>
