<form *ngIf="formGroup"
      xgbForm
      [formGroup]="formGroup"
      (keyup.enter)="onFormSubmit()"
      (ngSubmit)="onFormSubmit()">

  <xgb-form-field *ngIf="nodeId"
                  fieldId="nodeID"
                  fieldLabel="NodeID"
                  fieldHelp="The unique identifier for a node within the context of a pubsub service.">
    <input type="text"
           xgbFormInput
           [value]="nodeId"
           disabled>
  </xgb-form-field>


  <xgb-form-field *ngIf="formGroup.get('pubsub#title')"
                  fieldId="title"
                  fieldLabel="Topic / Collection title"
                  fieldHelp="A short name for the node / collection">
    <input type="text"
           xgbFormInput
           formControlName="pubsub#title"
           id="title"
           placeholder="Enter Topic / Collection"
           [hasError]="!formGroup.get('pubsub#title').untouched && !formGroup.get('pubsub#title').valid"
    >
  </xgb-form-field>

  <!--TODO: FIX THIS! (not supported by openfire (?!)-->
  <!--<xgb-collapsible-->
  <!--[isVisible]="true"-->
  <!--[title]="(isNewCollection ? 'Contained Topics': 'Parent Collections')">-->
  <!--<xgb-topic-chooser-->
  <!--[formControlName]="isNewCollection ? 'pubsub#children' : 'pubsub#collection'">-->
  <!--</xgb-topic-chooser>-->
  <!--</xgb-collapsible>-->

  <xgb-collapsible
    title="Advanced">
    <xgb-generic-form-config
      [xmppDataForm]="advancedConfigForm"
      [formGroup]="formGroup">
    </xgb-generic-form-config>
  </xgb-collapsible>
</form>
<button type="submit"
        (click)="onFormSubmit()"
        xgbActionButton
        primary>
  {{submitLabel}}
</button>
