<h2>Topic: {{nodeId}}</h2>

<xgb-spinner *ngIf="formProcessing.processing"></xgb-spinner>

<div *ngIf="formProcessing.error" xgbToast toast-error>{{formProcessing.error}}</div>
<div *ngIf="formProcessing.success" xgbToast toast-success>{{formProcessing.success}}</div>

<xgb-topic-config *ngIf="initialFormLoaded && !formProcessing.processing"
                  [nodeId]="nodeId"
                  [xmppDataForm]="loadedForm"
                  submitLabel="Update"
                  (configSubmitted)="submit($event)">

</xgb-topic-config>
